[submodule "_vim/bundle/pathogen"]
	path = _vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/commentary"]
	path = _vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "_vim/bundle/markdown"]
	path = _vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "_vim/bundle/ctrlp"]
	path = _vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/javascript"]
	path = _vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "_vim/bundle/coffee-script"]
	path = _vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "_vim/bundle/jinja2"]
	path = _vim/bundle/jinja2
	url = git://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "_vim/bundle/html5"]
	path = _vim/bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "_vim/bundle/lesscss"]
	path = _vim/bundle/lesscss
	url = git://github.com/groenewege/vim-less.git
[submodule "_vim/bundle/nginx"]
	path = _vim/bundle/nginx
	url = git://github.com/evanmiller/nginx-vim-syntax.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/abolish"]
	path = _vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/elixir"]
	path = _vim/bundle/elixir
	url = git://github.com/elixir-lang/vim-elixir.git
[submodule "_vim/bundle/easymotion"]
	path = _vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "_vim/bundle/golang"]
	path = _vim/bundle/golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "_vim/bundle/strftimedammit"]
	path = _vim/bundle/strftimedammit
	url = git://github.com/sjl/strftimedammit.vim.git
[submodule "_vim/bundle/vimux"]
	path = _vim/bundle/vimux
	url = git://github.com/benmills/vimux.git
[submodule "_vim/bundle/gitgutter"]
	path = _vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "_vim/bundle/ultisnips"]
	path = _vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "_vim/bundle/zencoding"]
	path = _vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "_powerline"]
	path = _powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/rainbow_parentheses"]
	path = _vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "_vim/bundle/auto-pairs"]
	path = _vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "_vim/bundle/tabular"]
	path = _vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "_vim/bundle/clam"]
	path = _vim/bundle/clam
	url = git://github.com/sjl/clam.vim.git
[submodule "_vim/bundle/recover"]
	path = _vim/bundle/recover
	url = git://github.com/chrisbra/Recover.vim.git
[submodule "_vim/bundle/pytest"]
	path = _vim/bundle/pytest
	url = git://github.com/alfredodeza/pytest.vim.git
