_vim/.netrwhist

# Music player
_cmus/autosave
_cmus/command-history
_cmus/lib.pl
_cmus/playlist.pl
_cmus/search-history
_cmus/socket
_cmus/cache

# Chat
_weechat/logs
_weechat/*.log
.fab_tasks~
fabfile.pyc
